:host {
  width: 100%;
  height: 100%;

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    align-items: center;

    &.quick-look {
      background: var(--background-color-primary);
    }

    &.hidden {
      display: none;
    }
  }

  .setting,
  .cross {
    position: absolute;
    top: 0;
    right: 1rem;
    cursor: pointer;
    z-index: 11;
  }

  .cross {
    top: initial;
  }

  .content-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: Montserrat-semi-bold;
  }

  .header-bar {
    width: 100%;
    height: 3rem;
    min-height: 3rem;
    background: var(--background-color-primary);
    border-bottom: 1px solid var(--background-color-grey);
    display: flex;
    position: sticky;
    top: -1px;
    z-index: 10;
    align-items: center;

    .case {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-family: Montserrat-bold;
      margin: 0.5rem 0;
      position: sticky;
      top: 0;

      &.separator {
        border-right: 1px solid var(--background-color-grey);
      }

      &.selected {
        color: var(--primary-color);
      }

      &.middle {
        width: 100%;
      }
    }
  }

  .profile-pictures {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .grid {
      max-width: 40rem;
      width: 100%;
      margin: 1rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      grid-auto-rows: minmax(10px, auto);
    }

    .profile-picture {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      cursor: pointer;

      img {
        background: white;
        box-shadow: 0px 0px 11px 0px var(--background-color-grey);
        max-height: 13rem;
        max-width: 13rem;
        object-fit: contain;
        border-radius: 1rem;
        width: 100%;
      }

      .delete {
        position: absolute;
        top: -0.5rem;
        right: -0.5rem;
        width: 1.5rem;
        height: 1.5rem;

        img {
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }

  .big-profile-picture {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1rem 0.5rem;

    .chevron {
      margin: 0 1rem;
      cursor: pointer;
      &.hidden {
        visibility: hidden;
      }
    }

    .picture {
      background: var(--background-color-primary);
      box-shadow: 0px 0px 11px 0px var(--background-color-grey);
      max-height: 13rem;
      max-width: 13rem;
      min-height: 8rem;
      min-width: 8rem;
      width: 40%;
      object-fit: contain;
      border-radius: 1rem;
    }
  }
  .input-file {
    display: none;
  }

  .form-container {
    max-width: 40rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    align-items: center;

    input,
    select {
      height: 1.5rem;
      transition: all 0.1s linear;
      padding: 6px 12px;
      border: none;
      font-family: Montserrat;
      background: var(--background-color-primary);
      color: var(--color-text);
    }

    .input-loca {
      margin-top: 1rem;

      &:disabled {
        background: var(--background-color-primary);
      }
    }

    select {
      height: 2rem;
    }

    textarea {
      min-height: 6rem;
      transition: all 0.1s linear;
      padding: 6px 12px;
      border: none;
      resize: none;
      font-family: Montserrat;
      background: var(--background-color-primary);
      color: var(--color-text);
    }

    .primary-button {
      margin-top: 1.5rem;

      &.no-margin {
        margin: 0;
      }
    }
  }

  .info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .info-top {
    margin: 6px 12px;
    font-family: Montserrat-semi-bold;
  }

  .info-bottom {
    //height: 1.5rem;
    transition: all 0.1s linear;
    padding: 9px 12px;
    border: none;
    font-family: Montserrat;
    overflow-wrap: break-word;
    background: var(--background-color-grey);
  }

  .cropper-container {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    z-index: 11;

    .cropper {
      margin: 1rem 15%;
      margin-top: 3rem;
      max-width: 26rem;
      flex-wrap: wrap;
    }

    .buttons {
      display: flex;
    }

    .primary-button {
      margin: 1rem;
      max-width: 40rem;
    }
  }

  .error {
    font-size: 12px;
    margin: 6px 12px;
    color: red;
    font-family: Montserrat-light;
    width: 100%;

    &.picture {
      text-align: center;
    }
  }
}
