:host {
  height: 100%;
  width: 100%;

  .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .switch {
    position: absolute;
    top: 10rem;
    right: 0;
    width: fit-content;
    background: red;
    cursor: pointer;
  }

  .page {
    height: 80%;
    width: 100%;
    flex-grow: 1;
    background: var(--background-color-grey);
  }

  .no-verify-container {
    background: var(--background-color-primary);
    padding: 1rem;
    margin: 0 1rem;
    text-align: center;
    max-width: 40rem;
    border-radius: 4px;
    position: relative;

    .back {
      margin-top: 1rem;
      text-decoration: underline;
      cursor: pointer;
    }

    .title {
      font-family: Montserrat-semi-bold;
      margin-bottom: 1rem;
    }

    .text {
      margin: 1rem;
    }
  }
}
