:host {
  width: 100%;
  max-width: 40rem;
  margin: 1rem 0;

  .form-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 1rem;
    justify-content: space-around;
  }

  .custom-slider {
    width: 100%;
    max-width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .select {
      margin: 1rem 0;
      width: 13rem;
    }

    &.sort {
      max-width: 100%;
    }
  }

  .primary-button {
    width: 50%;
  }
}

::ng-deep {
  .custom-slider .ngx-slider .ngx-slider-pointer {
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: -8px;
    background-color: var(--secondary-color);
    z-index: 3;
    border-radius: 16px;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer::after {
    display: none;
  }

  .custom-slider .ngx-slider .ngx-slider-selection {
    background: var(--secondary-color) !important;
  }

  .custom-slider .ngx-slider .ngx-slider-bar {
    background: #fbcf0a44;
  }
}
