/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: Montserrat-semi-bold;
  src: url("./fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Montserrat-bold;
  src: url("./fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Montserrat;
  src: url("./fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat-light;
  src: url("./fonts/Montserrat/Montserrat-Light.ttf");
  font-weight: 300;
}

body,
html {
  font-family: Montserrat !important;
  width: 100vw;
  height: 100vh;
  margin: 0;
  color: var(--color-text);
  background: var(--primary-color) !important;
  overflow: hidden;

  --primary-color: #a366fb;
  --secondary-color: #fbcf0a;
  --color-text: black;
  --color-reverse: white;
  --background-color-grey: #eaeaea;
  --background-color-primary: white;

  &::-webkit-scrollbar {
    background: transparent !important;
    -webkit-appearance: none;
  }
  @media screen and (max-width: 600px) {
    font-size: 14px;
  }
  &::-webkit-scrollbar {
    background: red !important;
    -webkit-appearance: none !important;
  }
}

.dark,
.light {
  color: var(--color-text);
}

.light {
  --primary-color: #a366fb;
  --secondary-color: #fbcf0a;
  --color-text: black;
  --color-reverse: white;
  --background-color-grey: #eaeaea;
  --background-color-primary: white;
}

.dark {
  --color-text: white;
  --background-color-grey: #464646;
  --background-color-primary: black;
  filter: brightness(0.8) contrast(1.2);
}

input,
button,
select,
select::placeholder,
input::placeholder {
  font-family: Montserrat;
  color: var(--color-text);
  background-color: var(--background-color-grey);
}

input::placeholder {
  color: rgb(177, 177, 177);
}

.primary-button {
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  text-align: center;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: white;
  border: 1px solid var(--secondary-color);
  padding: 12px;
}
