:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .header-container {
    height: 4rem;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    background: var(--background-color-primary);
    border-top: 1px solid var(--background-color-grey);

    .user-container {
      display: flex;
      align-items: center;
      height: 100%;

      .picture {
        height: 3rem;
        object-fit: contain;
        border-radius: 10px;
        margin: 0 1rem;
      }

      .text {
        font-family: Montserrat-semi-bold;
      }
    }

    .back {
      margin-left: 0.5rem;
    }
  }

  .no-messages {
    display: flex;
    height: 80%;
    flex-grow: 1;
  }

  .messages-container {
    display: flex;
    height: 80%;
    flex-grow: 1;
    overflow: scroll;
    flex-direction: column;

    .messages-content {
      display: flex;
      justify-content: flex-end;
      margin: 0 1rem;
      margin-top: 1rem;

      &.left-message {
        justify-content: flex-start;
      }
      &:last-child {
        margin-bottom: 1rem;
      }
    }
  }

  .message-bulb {
    width: fit-content;
    max-width: 60%;
    height: fit-content;
    padding: 6px 12px;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 14px;

    &.left-message {
      background: var(--background-color-primary);
      color: var(--color-text);
    }
  }

  .input-container {
    display: flex;
    padding: 0 1rem;
    background: var(--background-color-primary);
    justify-content: space-between;

    .send {
      transform: rotate(45deg);
    }
  }

  .input-message {
    background: var(--background-color-primary);
    color: var(--color-text);
    width: 100%;
    padding: 6px 12px;
    margin: 0.5rem 0;

    border: none;
    border-radius: 24px;

    &:focus {
      outline: none;
    }
  }
}
