<div class="row">
  <div class="col-md-6 col-sm-6">
    <h2>Bienvenue {{user.firstName}} {{user.lastName}} </h2>
    <div style="width: 200px; height: 200px; background-color: grey;">PHOTO</div>
  </div>
  <div class="col-md-6 col-sm-6">
    <button type="button" class="btn btn-lg btn-primary" disabled>0 Like</button>
    <button type="button" class="btn btn-lg btn-primary" disabled>Score de popularité: 0</button>
  </div>
</div>
<div>
  <h3>Personnes ayant consulter votre profil</h3>
  <app-profil-card *ngFor="let User of usersViews; let i = index"
                    [email]="User.email"
                    [firstName]="User.firstName"
                    [lastName]="User.lastName"
                    [birthday]="User.birthday"
                    [index]="i"
                    [id]="User.id"></app-profil-card>
</div>
<div>
  <h3>Personnes qui vous ont likez</h3>
  <app-profil-card *ngFor="let User of userslike; let i = index"
                    [email]="User.email"
                    [firstName]="User.firstName"
                    [lastName]="User.lastName"
                    [birthday]="User.birthday"
                    [index]="i"
                    [id]="User.id"></app-profil-card>
</div>
