:host {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: scroll;
  flex-direction: column;
  align-items: center;

  .suggestion-container {
    display: flex;
    width: 100%;
    max-width: 40rem;
    justify-content: center;
    padding-bottom: 1rem;
  }

  .header-bar {
    width: 100%;
    height: 3rem;
    background-color: white;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    position: sticky;
    top: -1px;
    z-index: 10;

    .case {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-family: Montserrat-bold;
      margin: 0.5rem 0;
      position: sticky;
      top: 0;

      &.separator {
        border-right: 1px solid #eaeaea;
      }

      &.selected {
        color: var(--primary-color);
      }
    }
  }

  .content-suggestion {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
    overflow: scroll;
    margin: 0 0.5rem;
  }

  .content-filter {
    display: flex;
    overflow-y: scroll;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .filter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .filter-button {
    position: relative;
    width: 100%;
    max-width: 40rem;

    text-align: center;
    display: flex;
    justify-content: center;

    .filter-pop-up {
      box-shadow: 0 0 22px -11px black;
      background: white;
      margin: 0 1rem;
      display: flex;
      border-radius: 4px;
      position: absolute;
      z-index: 10;
      top: 2rem;
    }

    .cross {
      position: absolute;
      margin: 8px;
      right: 0;
    }
  }

  .primary-button {
    width: max-content;
    height: min-content;
    margin-top: 1rem;
  }

  .spinner {
    margin-top: 8rem;
  }
}
